@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Julius+Sans+One');

//FONTS
$primaryFont: 'Julius Sans One', sans-serif;
$secondaryFont: 'Crimson Text', serif;

//COLORS
$white: #ECEBEA;
$black: #1b1a1b;
$grey: #A6A6A6;
$darkGrey: #646464;
