.home {
  .intro {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 7vw;
    }
  }

  .arrow-container {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    cursor: pointer;
    @include ease-in-out(0.3s, all);

    .arrow {
      width: 20px;
      height: 20px;
      border-style: solid;
      border-color: $grey;
      border-width: 0px 1px 1px 0px;
      transform: rotate(45deg);
    }

    &:hover {
      bottom: 0.5%;
    }
  }
}

.fullscreen-height{
  position: relative;
  height: 100vh;
}
//ALBUM LIST SECTION
.album-list {
  position: relative;
  // height: 100vh;

  h1 {
    font-size: 4em;
    background: transparent;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //POSITION PARALLAX IMAGES
  img {
    background: transparent;
  }

  .img-small {
    width: 20vw;
  }

  .img-medium {
    width: 25vw;
  }

  .img-large {
    width: 30vw;
  }

  .img-full{
    width: 35vw;
  }

  .square {
    width: 20vw;
    height: 15vh;
    background: $black;
  }

  .square-lines {
    position: relative;
    width: 20vw;
    height: 8vw;
    // transform: rotateZ(45deg);
    .lines {
      width: 80%;
      height: 3px;
      background: $black;

      &:nth-child(2),
      &:nth-child(3) {
        width: 100%;
        height: 3px;
        background: $black;
      }

      &:nth-child(2) {
        transform: translateY(20px);
      }

      &:nth-child(3) {
        transform: translateY(40px);
      }
    }
  }
}
